<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link
      href="{{url_for('static',filename='css/main.css')}}"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='scripts/editDoc.js') }}?{{ cache_id }}"
    ></script>
  </head>
  <body>
    <section class="bg-gray-100">
      <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 gap-x-16 gap-y-8 lg:grid-cols-5">
          <div class="lg:col-span-2 lg:py-12">
            <p class="max-w-xl text-lg typing-animation">
                Fill out the form below to edit your document. Update the title, course, tags, and co-author if necessary. 
                Make sure to provide accurate and relevant information to enhance the learning experience. 
                Your contributions are valuable to our community of learners. Join us and make a difference!
            </p>
          </div>

          <div class="rounded-lg bg-white p-8 shadow-lg lg:col-span-3 lg:p-12">
            <form id="editForm" class="space-y-4" enctype="multipart/form-data">
              <div>
                <label class="sr-only" for="title">Title</label>
                <input
                  id="title"
                  class="w-full rounded-lg border-gray-200 p-3 text-sm"
                  placeholder="Title"
                  type="text"
                  id="title"
                />
              </div>

              <div class="grid grid-cols-1 gap-4 sm:grid-cols-1">
                <div>
                  <label class="sr-only" for="course">Course</label>
                  <select
                    id="course"
                    class="w-full rounded-lg border-gray-200 p-3 text-sm"
                    placeholder="Course"
                    type="text"
                  >
                    <option value="Select Course" disabled selected>
                      Select Course
                    </option>
                    <!--Courses Will be added dynamically here-->
                  </select>
                </div>
              </div>
              <div>
                <div class="grid grid-cols-1 gap-4 sm:grid-cols-1">
                  <label class="sr-only" for="tags">Tags</label>
                  <input
                    id="tags"
                    class="w-full rounded-lg border-gray-200 p-3 text-sm"
                    placeholder="Tags (Separated by #)"
                    type="text"
                    id="tags"
                  />
                </div>
              </div>
              <div class="grid grid-cols-1 gap-4 sm:grid-cols-">
                <div>
                  <label class="sr-only" for="coAuthor">Co-Author</label>
                  <input
                    class="w-full rounded-lg border-gray-200 p-3 text-sm"
                    placeholder="Co-Author (Optional)"
                    type="text"
                    id="coAuthor"
                  />
                </div>
              </div>
              <div class="grid grid-cols-1 gap-4 text-center sm:grid-cols-3">
                <div>
                  <label
                    for="assignment"
                    class="block w-full cursor-pointer rounded-lg border border-gray-200 p-3 text-gray-600 hover:border-black has-[:checked]:border-black has-[:checked]:bg-black has-[:checked]:text-white"
                    tabindex="0"
                  >
                    <input
                      value="Assignment"
                      class="sr-only"
                      id="assignment"
                      type="radio"
                      tabindex="-1"
                      name="option"
                    />

                    <span class="text-sm"> Assignment </span>
                  </label>
                </div>

                <div>
                  <label
                    for="project"
                    class="block w-full cursor-pointer rounded-lg border border-gray-200 p-3 text-gray-600 hover:border-black has-[:checked]:border-black has-[:checked]:bg-black has-[:checked]:text-white"
                    tabindex="0"
                  >
                    <input
                      value="Project"
                      class="sr-only"
                      id="project"
                      type="radio"
                      tabindex="-1"
                      name="option"
                    />

                    <span class="text-sm"> Project </span>
                  </label>
                </div>

                <div>
                  <label
                    for="material"
                    class="block w-full cursor-pointer rounded-lg border border-gray-200 p-3 text-gray-600 hover:border-black has-[:checked]:border-black has-[:checked]:bg-black has-[:checked]:text-white"
                    tabindex="0"
                  >
                    <input
                      value="Material"
                      class="sr-only"
                      id="material"
                      type="radio"
                      tabindex="-1"
                      name="option"
                    />

                    <span class="text-sm"> Material </span>
                  </label>
                </div>
              </div>

              <div>
                <label class="sr-only" for="description">Description</label>

                <textarea
                  class="w-full rounded-lg border-gray-200 p-3 text-sm"
                  placeholder="Write detailed description of your work..."
                  rows="8"
                  id="description"
                ></textarea>
              </div>
              <div>
                <label class="sr-only" for="authorsNote">Author's Note</label>

                <textarea
                  class="w-full rounded-lg border-gray-200 p-3 text-sm"
                  placeholder="Write any Author's note about your work..."
                  rows="8"
                  id="authorsNote"
                ></textarea>
              </div>
              <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
                <button
                  id="submit"
                  type="submit"
                  class="inline-block rounded-lg bg-black px-5 py-3 font-medium text-white"
                >
                  Save
                </button>
                <button
                  id="cancel"
                  type="reset"
                  class="w-full rounded-lg border hover:border-black transition-colors duration-150 border-gray-200 p-3 text-sm"
                >
                  Cancel
                </button>
              </div>
            </form>
          </div>
        </div>
        <div
          id="successModal"
          style="display: none"
          class="fixed inset-0 px-4 flex flex-wrap justify-center items-center w-full h-full z-[1000] before:fixed before:inset-0 before:w-full before:h-full before:bg-[rgba(0,0,0,0.5)] overflow-auto font-[sans-serif]"
        >
          <div
            class="w-full max-w-md bg-white shadow-lg rounded-md px-5 py-10 relative mx-auto text-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-24 h-24 fill-green-500 absolute left-1/2 top-0 -translate-x-1/2 -translate-y-1/2"
              viewBox="0 0 60 60"
            >
              <circle cx="30" cy="30" r="29" data-original="#5edd60" />
              <path
                fill="#fff"
                d="m24.262 42.07-6.8-6.642a1.534 1.534 0 0 1 0-2.2l2.255-2.2a1.621 1.621 0 0 1 2.256 0l4.048 3.957 11.353-17.26a1.617 1.617 0 0 1 2.2-.468l2.684 1.686a1.537 1.537 0 0 1 .479 2.154L29.294 41.541a3.3 3.3 0 0 1-5.032.529z"
                data-original="#ffffff"
              />
            </svg>
            <div class="mt-8">
              <h3 class="text-2xl font-semibold flex-1">Success!</h3>
              <p class="text-sm text-gray-500 mt-2">
                Your document is updated successfully. <br />
              </p>
              <button
                id="gotIt"
                type="button"
                class="px-6 py-2.5 mt-8 w-full rounded text-white text-sm font-semibold border-none outline-none bg-green-500 hover:bg-green-600"
              >
                Got it
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
