<form class="flex items-center" method="GET" action="/search">
    <input id="search" type="text" placeholder="Search anything" class="bg-transparent focus:outline-none pr-4 font-semibold border-0 focus:ring-0 px-0 py-0" name="topic">
    <button class="flex flex-row items-center justify-center min-w-[130px] px-4 rounded-full border transition ease-in-out duration-150 text-base bg-black text-white font-medium tracking-wide border-transparent py-1.5 h-[38px] -mr-3" type="submit">
        Search
    </button>
</form>